<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="/index.html">Нүүр</a></li>
                <li><a href="#">Мэдээ</a></li>
                <li><a href="teams.html">Багууд</a></li>
                <li><a href="Stats.html">Статистик</a></li>
                <li><a href="Standings.html">Байрлал</a></li>
                <li><a href="Schedule.html">Хуваарь</a></li>
                <li><a href="Login.html">Нэвтрэх</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="latest-news">
            <article>
                
            </article>
        </section>
    </main>
</body>
</html>