<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="menu.js" async defer></script>
    <title>Нэвтрэх</title>
</head>
<body>
    <header class="header">  
        <div class="top-head">
            <div class="logo">
                <label><a href="/home.html"><img src="/image/logo.png" alt="logo"></a></label>
            </div>
            <div class="menu-btn">
                <span>
                    <i class="bi bi-list"></i>
                </span>
            </div>
            <div class="close-btn">
                <span>
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="/home.html">Нүүр</a></li>
                <li><a href="#">Мэдээ</a>
                    <!-- <ul>
                        <li><a href="#">Сүүлийн мэдээ</a></li>
                        <li><a href="#">Солилцоо наймаа</a></li>
                        <li><a href="#">Түүхэн статистик</a></li>
                    </ul> -->
                </li>
                <li><a href="/views/teams.html">Багууд</a></li>
                <li><a href="/views/Stats.html">Статистик</a></li>
                <li><a href="/views/Standings.html">Байрлал</a></li>
                <li><a href="/views/Schedule.html">Хуваарь</a></li>
                <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container">
            <div id="formcontainer">
                <p id="text">Login to your Account</p> <input id="email" type="email" type="tel" placeholder="Email / Phone"> <input id="password" type="password" placeholder="Password"> <input id="check" type="checkbox">
                <p id="text1">Remember Me</p> <a id="forget" href="#">Forget Password ?</a> <button id="login" type="submit">Log In</button>
                <hr id="hrline1">
                <p id="text2">or login with</p>
                <hr id="hrline2"> <button id="facebook"><img id="facebook1" src="https://image.flaticon.com/icons/svg/174/174848.svg">Facebook</button> <button id="google">
                <img id="google1" src="https://image.flaticon.com/icons/svg/281/281764.svg">Google</button>
                <p id="text3">Not a Member?</p> <a id="signup" href="#">Signup Now</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <section class="footer-about">
                <h3>Basketmedia</h3>
                <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                    NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                    тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                    энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
            </section>
            <section class="footer-contact">
                <h3>Холбоо барих</h3>
                <div class="socil-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-messenger"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div> 
            </section>
        </div>
        <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
    </footer>
</body>
</html>