<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="menu.js" async defer></script>
    <title>Нэвтрэх</title>
</head>
<body>
    <header class="header">  
        <div class="top-head">
            <div class="logo">
                <label><a href="/home.html"><img src="/image/logo.png" alt="logo"></a></label>
            </div>
            <div class="menu-btn">
                <span>
                    <i class="bi bi-list"></i>
                </span>
            </div>
            <div class="close-btn">
                <span>
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="/home.html">Нүүр</a></li>
                <li><a href="#">Мэдээ</a>
                    <!-- <ul>
                        <li><a href="#">Сүүлийн мэдээ</a></li>
                        <li><a href="#">Солилцоо наймаа</a></li>
                        <li><a href="#">Түүхэн статистик</a></li>
                    </ul> -->
                </li>
                <li><a href="/views/teams.html">Багууд</a></li>
                <li><a href="/views/Stats.html">Статистик</a></li>
                <li><a href="/views/Standings.html">Байрлал</a></li>
                <li><a href="/views/Schedule.html">Хуваарь</a></li>
                <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container">
            <h2>Хэрэглэгч нэвтрэх</h2>
            <form>
                <div class="input-field">
                    <input type="text" required>
                    <label>Нэвтрэх нэр</label>
                </div>
                <div class="input-field">
                    <input class="pswrd" type="password" required>
                    <span class="show">Харуулах</span>
                    <label>Нууц үг</label>
                </div>
                <div class="button">
                    <div class="inner">
                        <button>НЭВТРЭХ</button>
                    </div>
                </div>
            </form>
            <div class="auth">Эсвэл нэвтрэнэ үү</div>
            <div class="links">
                <div class="facebook">
                    <a href="#"><i class="bi bi-facebook"><span>Facebook</span></i></a>
                </div>
                <div class="google">
                    <a href="#"><i class="bi bi-google"><span>Google</span></i></a>
                </div>
            </div>
            <div class="signup">
                Бүртгэлгүй хэрэглэгч? <a href="#">Бүртгүүлэх</a>
            </div>
        </section>
        <script>
            let input = document.querySelector('.pswrd');
            let show = document.querySelector('.show');
            show.addEventListener('click', active);
            function active(){
                if(input.type === "password"){
                    input.type = "text";
                    show.style.color = "#051c2d";
                    show.textContent = "Хаах";
                }
                else{
                    input.type = "password"
                    show.textContent = "Харуулах";
                }
            }
        </script>
    </main>
    <footer>
        <div class="footer">
            <section class="footer-about">
                <h3>Basketmedia</h3>
                <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                    NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                    тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                    энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
            </section>
            <section class="footer-contact">
                <h3>Холбоо барих</h3>
                <div class="socil-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-messenger"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div> 
            </section>
        </div>
        <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
    </footer>
</body>
</html>