<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/schedule.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="menu.js" async defer></script>
    <title>Хуваарь</title>
</head>
<body>
    <header class="header">  
        <div class="top-head">
            <div class="logo">
                <label><a href="index.html"><img src="/image/logo.png" alt="logo"></a></label>
            </div>
            <div class="menu-btn">
                <span>
                    <i class="bi bi-list"></i>
                </span>
            </div>
            <div class="close-btn">
                <span>
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="/index.html">Нүүр</a></li>
                <li><a href="#">Мэдээ</a>
                    <!-- <ul>
                        <li><a href="#">Сүүлийн мэдээ</a></li>
                        <li><a href="#">Солилцоо наймаа</a></li>
                        <li><a href="#">Түүхэн статистик</a></li>
                    </ul> -->
                </li>
                <li><a href="/views/teams.html">Багууд</a></li>
                <li><a href="/views/Stats.html">Статистик</a></li>
                <li><a href="/views/Standings.html">Байрлал</a></li>
                <li><a href="/views/Schedule.html">Хуваарь</a></li>
                <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="schedule">
            <div class="container">
                <h3>Тоглолтын хуваарь</h3>
                <div class="row">
                  <div class="col-md-4 games-schedule">
                      <div class="well">
                          <div class="games-schedule-title">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h5>Өнөөдрийн тоглолт</h5>
                                  </div>
                              </div>
                          </div>                
                          <div class="games-schedule-items">
                              <div class="row games-team">
                                  <div class="col-md-5">
                                      <img src="https://cdn.nba.com/logos/nba/1610612751/global/L/logo.svg" alt="Brooklyn Nets Logo">
                                      <span>Нетс</span>
                                  </div>
                                  <div class="col-md-2">
                                      <h4 class="img-circle">VS</h4>
                                  </div>
                                  <div class="col-md-5">
                                      <img src="https://cdn.nba.com/logos/nba/1610612741/global/L/logo.svg" alt="Chicago Bulls Logo">
                                      <span>Буллз</span>
                                  </div>
                              </div>
                              <div class="row games-info">
                                  <div class="col-md-12">
                                      <p><span class="glyphicon glyphicon-play-circle"></span> 19 December, 2021 (<small>09:30 GMT</small>)</p>
                                      <p class="games-dash"></p>
                                      <p><small>Crypto.com Arena
                                        Los Angeles, CA</small></p>
                                  </div>
                              </div>
                          </div>  
                          <div class="games-schedule-items">
                              <div class="row games-team">
                                  <div class="col-md-5">
                                    <img src="https://cdn.nba.com/logos/nba/1610612739/global/L/logo.svg" alt="Cleveland Cavaliers Logo">
                                      <span>Кавальерс</span>
                                  </div>
                                  <div class="col-md-2">
                                      <h4 class="img-circle">VS</h4>
                                  </div>
                                  <div class="col-md-5">
                                    <img src="https://cdn.nba.com/logos/nba/1610612765/global/L/logo.svg" alt="Detroit Pistons Logo">
                                      <span>Пистонс</span>
                                  </div>
                              </div>
                              <div class="row games-info">
                                  <div class="col-md-12">
                                      <p><span class="glyphicon glyphicon-play-circle"></span> 19 December, 2021 (11:30 GMT</small>)</p>
                                      <p class="games-dash"></p>
                                      <p><small>Little Caesars Arena
                                        Detroit, MI</small></p>
                                  </div>
                              </div>
                          </div>
                          <div class="games-schedule-footer">
                              <div class="row">
                                  <div class="col-md-6">
                                      <p class="text-left">2022</p>
                                  </div>
                                  <div class="col-md-6">
                                      <p class="text-right">&COPY; Basketmedia</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              
              </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <section class="footer-about">
                <h3>Basketmedia</h3>
                <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                    NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                    тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                    энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
            </section>
            <section class="footer-contact">
                <h3>Холбоо барих</h3>
                <div class="socil-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-messenger"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div> 
            </section>
        </div>
        <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
    </footer>
</body>
</html>