<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/schedule.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="menu.js" async defer></script>
    <title>Хуваарь</title>
</head>
<body>
    <header class="header">  
        <div class="top-head">
            <div class="logo">
                <label><a href="home.html"><img src="/image/logo.png" alt="logo"></a></label>
            </div>
            <div class="menu-btn">
                <span>
                    <i class="bi bi-list"></i>
                </span>
            </div>
            <div class="close-btn">
                <span>
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="/home.html">Нүүр</a></li>
                <li><a href="#">Мэдээ</a>
                    <!-- <ul>
                        <li><a href="#">Сүүлийн мэдээ</a></li>
                        <li><a href="#">Солилцоо наймаа</a></li>
                        <li><a href="#">Түүхэн статистик</a></li>
                    </ul> -->
                </li>
                <li><a href="/views/teams.html">Багууд</a></li>
                <li><a href="/views/Stats.html">Статистик</a></li>
                <li><a href="/views/Standings.html">Байрлал</a></li>
                <li><a href="/views/Schedule.html">Хуваарь</a></li>
                <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="schedule">
            <h2>Тоглолтын хуваарь</h2>
            <div class="matches">
                <div class="date">
                    <h3>БЯ 07/11</h3>
                </div>
                <div class="schedule-teams">
                    <h3>Багууд</h3>
                    <div class="teams-vs">
                        <h5>Бостон Сэлтикс</h5>
                        <h5>Брүүклин Нетс</h5>
                    </div>
                    
                </div>
                <div class="schedule-time">
                    <h3>Цаг</h3>
                    <span>07:30</span>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <section class="footer-about">
                <h3>Basketmedia</h3>
                <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                    NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                    тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                    энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
            </section>
            <section class="footer-contact">
                <h3>Холбоо барих</h3>
                <div class="socil-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-messenger"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div> 
            </section>
        </div>
        <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
    </footer>
</body>
</html>