<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/standings.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="menu.js" async defer></script>
    <title>Байрлал</title>
</head>
<body>
    <header class="header">  
      <div class="top-head">
          <div class="logo">
              <label><a href="/index.html"><img src="/image/logo.png" alt="logo"></a></label>
          </div>
          <div class="menu-btn">
              <span>
                  <i class="bi bi-list"></i>
              </span>
          </div>
          <div class="close-btn">
              <span>
                  <i class="bi bi-x-lg"></i>
              </span>
          </div>
      </div>
      <nav class="nav" id="nav">
          <ul class="nav-list">
              <li><a href="/index.html">Нүүр</a></li>
              <li><a href="#">Мэдээ</a>
                  <!-- <ul>
                      <li><a href="#">Сүүлийн мэдээ</a></li>
                      <li><a href="#">Солилцоо наймаа</a></li>
                      <li><a href="#">Түүхэн статистик</a></li>
                  </ul> -->
              </li>
              <li><a href="/views/teams.html">Багууд</a></li>
              <li><a href="/views/Stats.html">Статистик</a></li>
              <li><a href="/views/Standings.html">Байрлал</a></li>
              <li><a href="/views/Schedule.html">Хуваарь</a></li>
              <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
          </ul>
      </nav>
  </header>
  <main>
    <section class="content-info">
        <h2>Дорнод бүс</h2>
      <div class="container paddings-mini">
          <div class="row">
              <div class="col-lg-12">
                  <table class="table-striped table-responsive table-hover result-point">
                      <thead class="point-table-head">
                          <tr>
                              <th class="text-left">No</th>
                              <th class="text-left">Баг</th>
                              <th class="text-center">Хожил</th>
                              <th class="text-center">Хожигдол</th>
                              <th class="text-center">Хожлын хувь</th>
                              <th class="text-center">Сүүлийн 10</th>
                              <th class="text-center">Streak</th>
                          </tr>
                      </thead>
                      <tbody class="text-center">
                          <tr>
                              <td class="text-left number">1 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://cdn.nba.com/logos/nba/1610612751/global/L/logo.svg" alt="Nets"><span>Брүүклин Нетс</span> </td>
                              <td>38</td>
                              <td>26</td>
                              <td>9</td>
                              <td>3</td>
                              <td>73</td>
                          </tr>
                          <tr>
                              <td class="text-left number">2 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://cdn.nba.com/logos/nba/1610612741/global/L/logo.svg" alt="Bulls"><span>Чикаго Буллс </span> </td>
                              <td>38</td>
                              <td>24</td>
                              <td>7</td>
                              <td>7</td>
                              <td>83</td>
                          </tr>
                          <tr>
                              <td class="text-left number">3 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/argentina.png" alt="Argentina"><span>Argentina</span> </td>
                              <td>38</td>
                              <td>22</td>
                              <td>9</td>
                              <td>7</td>
                              <td>71</td>
                          </tr>
                          <tr>
                              <td class="text-left number">4<i class="fa fa-caret-down" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/japan.png" alt="Japan"><span>Japan</span> </td>
                              <td>38</td>
                              <td>20</td>
                              <td>10</td>
                              <td>8</td>
                              <td>62</td>
                          </tr>
                          <tr>
                              <td class="text-left number">5 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/flag.png" alt="Senegal"><span>Senegal</span> </td>
                              <td>38</td>
                              <td>19</td>
                              <td>7</td>
                              <td>12</td>
                              <td>58</td>
                          </tr>
                          <tr>
                              <td class="text-left number">6<i class="fa fa-caret-down" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/poland.png" alt="Poland"><span>Poland</span> </td>
                              <td>38</td>
                              <td>18</td>
                              <td>8</td>
                              <td>12</td>
                              <td>52</td>
                          </tr>
                          <tr>
                              <td class="text-left number">7<i class="fa fa-caret-down" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/russian-federation.png" alt="Russia"><span>Russia</span> </td>
                              <td>38</td>
                              <td>18</td>
                              <td>6</td>
                              <td>14</td>
                              <td>54</td>
                          </tr>
                          <tr>
                              <td class="text-left number">8<i class="fa fa-caret-up" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/iran.png" alt="Iran"><span>Iran</span> </td>
                              <td>38</td>
                              <td>12</td>
                              <td>11</td>
                              <td>15</td>
                              <td>48</td>
                          </tr>
                          <tr>
                              <td class="text-left number">9 <i class="fa fa-circle" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/spain.png" alt="Spain"><span>Spain</span> </td>
                              <td>38</td>
                              <td>26</td>
                              <td>9</td>
                              <td>3</td>
                              <td>73</td>
                          </tr>
                          <tr>
                              <td class="text-left number">10<i class="fa fa-circle" aria-hidden="true"></i></td>
                              <td class="text-left"> <img src="https://img.icons8.com/color/48/000000/france.png" alt="France"><span>France</span> </td>
                              <td>38</td>
                              <td>24</td>
                              <td>7</td>
                              <td>7</td>
                              <td>83</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
    </main>
    <footer>
      <div class="footer">
          <section class="footer-about">
              <h3>Basketmedia</h3>
              <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                  NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                  тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                  энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
          </section>
          <section class="footer-contact">
              <h3>Холбоо барих</h3>
              <div class="socil-icons">
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-messenger"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
              </div> 
          </section>
      </div>
      <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
  </footer>
</body>
</html>