<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="menu.js" async defer></script>
    <title>Байрлал</title>
</head>
<body>
    <header class="header">  
      <div class="top-head">
          <div class="logo">
              <label><a href="/home.html"><img src="/image/logo.png" alt="logo"></a></label>
          </div>
          <div class="menu-btn">
              <span>
                  <i class="bi bi-list"></i>
              </span>
          </div>
          <div class="close-btn">
              <span>
                  <i class="bi bi-x-lg"></i>
              </span>
          </div>
      </div>
      <nav class="nav" id="nav">
          <ul class="nav-list">
              <li><a href="/home.html">Нүүр</a></li>
              <li><a href="#">Мэдээ</a>
                  <!-- <ul>
                      <li><a href="#">Сүүлийн мэдээ</a></li>
                      <li><a href="#">Солилцоо наймаа</a></li>
                      <li><a href="#">Түүхэн статистик</a></li>
                  </ul> -->
              </li>
              <li><a href="/views/teams.html">Багууд</a></li>
              <li><a href="/views/Stats.html">Статистик</a></li>
              <li><a href="/views/Standings.html">Байрлал</a></li>
              <li><a href="/views/Schedule.html">Хуваарь</a></li>
              <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
          </ul>
      </nav>
  </header>
  <main>
          <section class="standings">
            <div class="table-east">
                <h4>Өрнөд бүс</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Баг</th>
                        <th scope="col">Хожил</th>
                        <th scope="col">Хожигдол</th>
                        <th scope="col">Хожлын хувь</th>
                        <th scope="col">Streak</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">12</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">13</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">14</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">15</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="table-west">
                <h4>Дорнод бүс</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Баг</th>
                        <th scope="col">Хожил</th>
                        <th scope="col">Хожигдол</th>
                        <th scope="col">Хожлын хувь</th>
                        <th scope="col">Streak</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">12</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">13</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">14</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                      <tr>
                        <th scope="row">15</th>
                        <td>Брүүклин Нетс</td>
                        <td>49</td>
                        <td>23</td>
                        <td>0.681</td>
                        <td>W2</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </section>
    </main>
    <footer>
      <div class="footer">
          <section class="footer-about">
              <h3>Basketmedia</h3>
              <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                  NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                  тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                  энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
          </section>
          <section class="footer-contact">
              <h3>Холбоо барих</h3>
              <div class="socil-icons">
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-messenger"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
              </div> 
          </section>
      </div>
      <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
  </footer>
</body>
</html>