<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/stats.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="menu.js" async defer></script>
    <title>Статистик</title>
</head>
<body>
    <header class="header">  
        <div class="top-head">
            <div class="logo">
                <label><a href="/home.html"><img src="/image/logo.png" alt="logo"></a></label>
            </div>
            <div class="menu-btn">
                <!-- <span> -->
                    <i class="bi bi-list"></i>
                </span>
            </div>
            <div class="close-btn">
                <!-- <span> -->
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="/home.html">Нүүр</a></li>

                <li><a href="#">Мэдээ</a>
                    <!-- <ul>
                        <li><a href="#">Сүүлийн мэдээ</a></li>
                        <li><a href="#">Солилцоо наймаа</a></li>
                        <li><a href="#">Түүхэн статистик</a></li>
                    </ul> -->
                </li>
                <li><a href="/views/teams.html">Багууд</a></li>
                <li><a href="/views/Stats.html">Статистик</a></li>
                <li><a href="/views/Standings.html">Байрлал</a></li>
                <li><a href="/views/Schedule.html">Хуваарь</a></li>
                <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container-players">
            <h2>Тоглогчид</h2>
            <section class="players">
                <section class="points">
                    <h3>Оноо</h3>
                    <div class="list-points">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Ja Morant
                                        <!-- <span>MEM</span> -->
                                    </td>
                                    <td><span class="stats-number">40</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Kevin Durant
                                        <!-- <span>BKN</span> -->
                                    </td>
                                    <td><span class="stats-number">38</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Miles Bridges
                                        <!-- <span>CHA</span> -->
                                    </td>
                                    <td><span class="stats-number">32</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Jayson Tatum
                                        <!-- <span>BOS</span> -->
                                    </td>
                                    <td><span class="stats-number">31</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Jalen Green
                                        <!-- <span>HOU</span> -->
                                    </td>
                                    <td><span class="stats-number">30</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="rebounds">
                    <h3>Самбараас бөмбөг авалт</h3>
                    <div class="list-rebounds">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Ja Morant
                                        <!-- <span>MEM</span> -->
                                    </td>
                                    <td><span class="stats-number">40</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Kevin Durant
                                        <!-- <span>BKN</span> -->
                                    </td>
                                    <td><span class="stats-number">38</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Miles Bridges
                                        <!-- <span>CHA</span> -->
                                    </td>
                                    <td><span class="stats-number">32</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Jayson Tatum
                                        <!-- <span>BOS</span> -->
                                    </td>
                                    <td><span class="stats-number">31</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Jalen Green
                                        <!-- <span>HOU</span> -->
                                    </td>
                                    <td><span class="stats-number">30</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="assists">
                    <h3>Оновчтой дамжуулалт</h3>
                    <div class="list-asists">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Ja Morant
                                        <!-- <span>MEM</span> -->
                                    </td>
                                    <td><span class="stats-number">40</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Kevin Durant
                                        <!-- <span>BKN</span> -->
                                    </td>
                                    <td><span class="stats-number">38</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Miles Bridges
                                        <!-- <span>CHA</span> -->
                                    </td>
                                    <td><span class="stats-number">32</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Jayson Tatum
                                        <!-- <span>BOS</span> -->
                                    </td>
                                    <td><span class="stats-number">31</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Jalen Green
                                        <!-- <span>HOU</span> -->
                                    </td>
                                    <td><span class="stats-number">30</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="blocks">
                    <h3>Хаалт</h3>
                    <div class="list-blocks">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Ja Morant
                                        <!-- <span>MEM</span> -->
                                    </td>
                                    <td><span class="stats-number">40</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Kevin Durant
                                        <!-- <span>BKN</span> -->
                                    </td>
                                    <td><span class="stats-number">38</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Miles Bridges
                                        <!-- <span>CHA</span> -->
                                    </td>
                                    <td><span class="stats-number">32</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Jayson Tatum
                                        <!-- <span>BOS</span> -->
                                    </td>
                                    <td><span class="stats-number">31</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Jalen Green
                                        <!-- <span>HOU</span> -->
                                    </td>
                                    <td><span class="stats-number">30</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="steals">
                    <h3>Бөмбөг таслалт</h3>
                    <div class="list-steals">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Ja Morant
                                        <!-- <span>MEM</span> -->
                                    </td>
                                    <td><span class="stats-number">40</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Kevin Durant
                                        <!-- <span>BKN</span> -->
                                    </td>
                                    <td><span class="stats-number">38</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Miles Bridges
                                        <!-- <span>CHA</span> -->
                                    </td>
                                    <td><span class="stats-number">32</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Jayson Tatum
                                        <!-- <span>BOS</span> -->
                                    </td>
                                    <td><span class="stats-number">31</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Jalen Green
                                        <!-- <span>HOU</span> -->
                                    </td>
                                    <td><span class="stats-number">30</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="turnovers">
                    <h3>Бөмбөг алдалт</h3>
                    <div class="list-turnovers">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Ja Morant
                                        <!-- <span>MEM</span> -->
                                    </td>
                                    <td><span class="stats-number">40</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Kevin Durant
                                        <!-- <span>BKN</span> -->
                                    </td>
                                    <td><span class="stats-number">38</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Miles Bridges
                                        <!-- <span>CHA</span> -->
                                    </td>
                                    <td><span class="stats-number">32</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Jayson Tatum
                                        <!-- <span>BOS</span> -->
                                    </td>
                                    <td><span class="stats-number">31</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Jalen Green
                                        <!-- <span>HOU</span> -->
                                    </td>
                                    <td><span class="stats-number">31</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
        <div class="container-teams">
            <h2>Багууд</h2>
            <section class="teams">
                <section class="points">
                    <h3>Оноо</h3>
                    <div class="list-points">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Брүүклин Нетс
                                    </td>
                                    <td><span class="stats-number">121</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Нью Йорк Никс
                                    </td>
                                    <td><span class="stats-number">118</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Финикс Санс
                                    </td>
                                    <td><span class="stats-number">114</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Юта Жаз
                                    </td>
                                    <td><span class="stats-number">110</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Денвер Наггетс
                                    </td>
                                    <td><span class="stats-number">105</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="rebounds">
                    <h3>Самбараас бөмбөг авалт</h3>
                    <div class="list-rebounds">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Брүүклин Нетс
                                    </td>
                                    <td><span class="stats-number">121</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Нью Йорк Никс
                                    </td>
                                    <td><span class="stats-number">118</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Финикс Санс
                                    </td>
                                    <td><span class="stats-number">114</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Юта Жаз
                                    </td>
                                    <td><span class="stats-number">110</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Денвер Наггетс
                                    </td>
                                    <td><span class="stats-number">105</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="assists">
                    <h3>Оновчтой дамжуулалт</h3>
                    <div class="list-asists">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Брүүклин Нетс
                                    </td>
                                    <td><span class="stats-number">121</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Нью Йорк Никс
                                    </td>
                                    <td><span class="stats-number">118</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Финикс Санс
                                    </td>
                                    <td><span class="stats-number">114</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Юта Жаз
                                    </td>
                                    <td><span class="stats-number">110</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Денвер Наггетс
                                    </td>
                                    <td><span class="stats-number">105</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="blocks">
                    <h3>Хаалт</h3>
                    <div class="list-blocks">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Брүүклин Нетс
                                    </td>
                                    <td><span class="stats-number">121</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Нью Йорк Никс
                                    </td>
                                    <td><span class="stats-number">118</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Финикс Санс
                                    </td>
                                    <td><span class="stats-number">114</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Юта Жаз
                                    </td>
                                    <td><span class="stats-number">110</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Денвер Наггетс
                                    </td>
                                    <td><span class="stats-number">105</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="steals">
                    <h3>Бөмбөг таслалт</h3>
                    <div class="list-steals">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Брүүклин Нетс
                                    </td>
                                    <td><span class="stats-number">121</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Нью Йорк Никс
                                    </td>
                                    <td><span class="stats-number">118</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Финикс Санс
                                    </td>
                                    <td><span class="stats-number">114</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Юта Жаз
                                    </td>
                                    <td><span class="stats-number">110</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Денвер Наггетс
                                    </td>
                                    <td><span class="stats-number">105</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="turnovers">
                    <h3>Бөмбөг алдалт</h3>
                    <div class="list-turnovers">
                        <table>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Брүүклин Нетс
                                    </td>
                                    <td><span class="stats-number">121</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Нью Йорк Никс
                                    </td>
                                    <td><span class="stats-number">118</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Финикс Санс
                                    </td>
                                    <td><span class="stats-number">114</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Юта Жаз
                                    </td>
                                    <td><span class="stats-number">110</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Денвер Наггетс
                                    </td>
                                    <td><span class="stats-number">105</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer">
            <section class="footer-about">
                <h3>Basketmedia</h3>
                <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                    NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                    тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                    энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
            </section>
            <section class="footer-contact">
                <h3>Холбоо барих</h3>
                <div class="socil-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-messenger"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div> 
            </section>
        </div>
        <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
    </footer>
</body>
</html>