<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/teams.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="menu.js" async defer></script>
    <title>Багууд</title>
</head>
<body>
    <header class="header">  
        <div class="top-head">
            <div class="logo">
                <label><a href="/home.html"><img src="/image/logo.png" alt="logo"></a></label>
            </div>
            <div class="menu-btn">
                <span>
                    <i class="bi bi-list"></i>
                </span>
            </div>
            <div class="close-btn">
                <span>
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="/home.html">Нүүр</a></li>
                <li><a href="#">Мэдээ</a>
                    <!-- <ul>
                        <li><a href="#">Сүүлийн мэдээ</a></li>
                        <li><a href="#">Солилцоо наймаа</a></li>
                        <li><a href="#">Түүхэн статистик</a></li>
                    </ul> -->
                </li>
                <li><a href="/views/teams.html">Багууд</a></li>
                <li><a href="/views/Stats.html">Статистик</a></li>
                <li><a href="/views/Standings.html">Байрлал</a></li>
                <li><a href="/views/Schedule.html">Хуваарь</a></li>
                <li class="login"><a href="/views/Login.html">Нэвтрэх</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Бүх багууд</h2>
            <div class="teams">
                <section class="atlantic">
                    <h3 class="division-name">Atlantic</h3>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612738/global/L/logo.svg" alt="Boston Celtics Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/celtics/" target="_blank">Бостон Сэлтикс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612751/global/L/logo.svg" alt="Brooklyn Nets Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/nets/" target="_blank">Брүүклин Нетс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612752/global/L/logo.svg" alt="New York Knicks Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/knicks/" target="_blank">Нью Йорк Никс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612755/global/L/logo.svg" alt="Philadelphia 76ers Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/sixers/" target="_blank">Филадельфи Севенти Сиксерс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612761/global/L/logo.svg" alt="Toronto Raptors Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/raptors/" target="_blank">Торонто Рэпторс</a>
                    </div>
                </section>
                <section class="central">
                    <h3 class="division-name">Central</h3>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612741/global/L/logo.svg" alt="Chicago Bulls Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/bulls/" target="_blank">Чикаго Буллз</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612739/global/L/logo.svg" alt="Cleveland Cavaliers Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/cavaliers/" target="_blank">Кливленд Кавальерс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612765/global/L/logo.svg" alt="Detroit Pistons Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/pistons/" target="_blank">Детройт Пистонс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612754/global/L/logo.svg" alt="Indiana Pacers Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/pacers/" target="_blank">Индиана Пэйсерсс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612749/global/L/logo.svg" alt="Milwaukee Bucks Logoo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/bucks/" target="_blank">Милуоки Бакс</a>
                    </div>
                </section>
                <section class="southeast">
                    <h3 class="division-name">Southeast</h3>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612737/global/L/logo.svg" alt="Atlanta Hawks Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/hawks/" target="_blank">Атланта Хоокс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612766/global/L/logo.svg" alt="Charlotte Hornets Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/hornets/" target="_blank">Шарлотт Бобкэтс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612748/global/L/logo.svg" alt="Miami Heat Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/heat/" target="_blank">Майами Хийт</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612753/global/L/logo.svg" alt="Orlando Magic Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/magic/" target="_blank">Орландо Мэжик</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612764/global/L/logo.svg" alt="Washington Wizards Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/wizards/" target="_blank">Вашингтон Уизардс</a>
                    </div>
                </section>
                <section class="northwest">
                    <h3 class="division-name">Northwest</h3>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612743/global/L/logo.svg" alt="Denver Nuggets Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/nuggets/" target="_blank">Денвер Наггетс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612750/global/L/logo.svg" alt="Minnesota Timberwolves Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/timberwolves/" target="_blank">Миннесота Тимбервулвз</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612760/global/L/logo.svg" alt="Oklahoma City Thunder Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/thunder/" target="_blank">Оклахома Сити Тандер</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612757/global/L/logo.svg" alt="Portland Trail Blazers Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/blazers/" target="_blank">Портленд Трэйл Блэйзерс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612762/global/L/logo.svg" alt="Utah Jazz Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/jazz/" target="_blank">Юта Жазз</a>
                    </div>
                </section>
                <section class="pacific">
                    <h3 class="division-name">Pacific</h3>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612744/global/L/logo.svg" alt="Golden State Warriors Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/warriors/" target="_blank">Голден Стэйт Уорриорз</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612746/global/L/logo.svg" alt="LA Clippers Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/clippers/" target="_blank">Лос Анжелес Клипперс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612747/global/L/logo.svg" alt="Los Angeles Lakers Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/lakers/" target="_blank">Лос Анжелес Лэйкерс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612756/global/L/logo.svg" alt="Phoenix Suns Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/suns/" target="_blank">Финикс Санс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612758/global/L/logo.svg" alt="Sacramento Kings Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/kings/" target="_blank">Сакраменто Кингc</a>
                    </div>
                </section>
                <section class="southwest">
                    <h3 class="division-name">Southwest</h3>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612742/global/L/logo.svg" alt="Dallas Mavericks Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/mavericks/" target="_blank">Даллас Маверикс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612745/global/L/logo.svg" alt="Houston Rockets Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/rockets/" target="_blank">Хьюстон Рокетс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612763/global/L/logo.svg" alt="Memphis Grizzlies Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/grizzlies/" target="_blank">Мемфис Гриззлис</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612740/global/L/logo.svg" alt="New Orleans Pelicans Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/pelicans/" target="_blank">Нью Орлеанс Пеликанс</a>
                    </div>
                    <div class="team">
                        <figure>
                            <img src="https://cdn.nba.com/logos/nba/1610612759/global/L/logo.svg" alt="San Antonio Spurs Logo" style="height: 3rem;">
                        </figure>
                        <a href="https://www.nba.com/spurs/" target="_blank">Сан-Антонио Спёрс</a>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <section class="footer-about">
                <h3>Basketmedia</h3>
                <p>Таны NBA-ийн мэдлэгийн цар хүрээг тэлэх ухаалаг хэрэглээ. 
                    NBA-ийн эргэн тойрон дахь мэдээлэл, тоглолтын статистик, 
                    тоглогчдын хувийн мэдээлэл, багийн түүх зэрэг мэдээллийг 
                    энэхүү аппликейшинг ашигласнаар авах боломжтой.<p>
            </section>
            <section class="footer-contact">
                <h3>Холбоо барих</h3>
                <div class="socil-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-messenger"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div> 
            </section>
        </div>
        <p>Copyright &copy; 2022 All rights reserved | Basketmedia</p>
    </footer>
</body>
</html>