@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

:root{
    --default-primary-color: #051c2d;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Roboto, Arial, sans-serif;
}
.logo{
    padding-left: 50px;
}
.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: var(--default-primary-color);
    padding: 5px;
}

.top-head .bi{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.close-btn{
    display: none;
}

.nav{
    background: var(--default-primary-color);
    height: 0;
    overflow: hidden;
}
.show-nav{
    height: auto;
}

.nav ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;   
}

.nav ul li a{
    color: white;  
}
.nav ul li a:hover{
    color: gray;  
}


@media (min-width: 800px){
    .menu-btn, .close-btn{
        display: none !important;
    }
    .header{
        display: flex;
        background: var(--default-primary-color);
        align-items: center;
        flex-wrap: wrap;
    }
    .top-head{
        flex: 0 0 15%;
    }
    .nav{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }
    .nav ul{
        display: flex;
        justify-content: center;
    }
    .nav ul li{
        padding-left: 40px;
    }
    .footer{
        display: flex;
    }
    .footer-about, .footer-contact{
        flex: 1;
    }
    .footer-contact{
        padding-left: 200px;
    }
    
}
@media (min-width:768px) {
    .home-news{
        display: flex;
    }
}

.main{
    font-size: 16px;
    padding-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    box-sizing: border-box;
}

.home-news{
    
}
.home-news img{
    min-width: auto;
}
.home-news h2{
    font-size: 22px;
}
.home-news h2  a{
    color: #000;
}

.last-news{   
    padding: 15px 30px;
}
.last-news p{
    font-weight: 300;
    
}
.side-news h3{
    font-size: 18px;
}
.side-news{
    justify-content: center;
    padding-left: 30px;
}
.side-news p{
    font-weight: 300;
}

.side-news ul li a{
    color: #000;
}
.news-title{
    
}

.trade-news{
    padding: 30px 10px;
    padding-top: 100px;
}
.trade-news-items{
    border: solid;
    border-style: none;
    box-shadow: 0 0 10px 0 hsl(0deg 0% 82% / 50%);
    margin-bottom: 2rem;
}
.trade-news > h2{
    padding:15px 0 15px 30px;
}
.trade-news h2{
    font-size: 20px;
}
.trade-news h3{
    font-size: 16px;
}
.trade-news ul li{
    display:flex;
    align-items: center;
}
.trade-news ul li a{
    color: #000;
}
.news-desc{
    padding-left: 1rem;
}

.stats-news{
    padding: 30px 10px;
    padding-top: 100px;
}
.stats-news > h2{
    padding:15px 0 15px 30px;   
}
.stats-news h2{
    font-size: 20px;
}
.stats-news h3{
    font-size: 16px;
}
.stats-news ul li{
    display: flex;
    align-items: center;
}
.stats-news ul li a{
    color: #000;
}
.stat-news-items{
    border: solid;
    border-style: none;
    box-shadow: 0 0 10px 0 hsl(0deg 0% 82% / 50%);
    margin-bottom: 2rem;
}

footer{
    background: var(--default-primary-color);
    color:white;
    padding: 40px;
}
footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 40px;
}
.footer h2{
    padding: 10px 0;
}
.footer p{
    padding: 10px 0;
    line-height: 1.3;
}

.footer-about, .footer-contact{
    margin: 0px 40px;
}
.socil-icons{
    font-size: 22px;
    padding-top: 30px;
}
.footer-contact a{
    justify-content: space-between;
    padding: 0 10px;
}
.footer-contact a{
    color: #fff;
}


